{% extends 'base_part.html' %}

{% block title %}Edit Orang{% endblock %}

{% block content %}
<h1>Edit Data</h1>

<form method="post" class="mt-3" enctype ="multipart/form-data">
  {% csrf_token %}
  
  <div class="mb-3">
    <label for="nama" class="form-label">Nama Part:</label>
    <input 
      type="text" 
      id="nama" 
      name="nama" 
      value="{{ part.nama }}" 
      class="form-control" 
      required 
    />
  </div>

  <div class="mb-3">
    <label for="harga" class="form-label">harga:</label>
    <input 
      type="text" 
      id="harga" 
      name="harga" 
      value="{{ part.harga }}" 
      class="form-control" 
      required 
    />
  </div>

  <div class="mb-3">
    <label for="stok" class="form-label">stok:</label>
    <input 
      type="text" 
      id="stok" 
      name="stok" 
      value="{{ part.stok }}" 
      class="form-control" 
      required 
    />
  </div>

  <div class="mb-3">
    <label for="supplier" class="form-label">Supplier:</label>
    <input 
      type="text" 
      id="supplier" 
      name="supplier" 
      value="{{ part.supplier }}" 
      class="form-control" 
      required 
    />
  </div>

  <div class="mb-3">
    <label for="kondisi" class="form-label">Kondisi:</label>
    <select 
      id="kondisi" 
      name="kondisi" 
      class="form-select" 
      required
    >
      <option value="Baru" {% if part.kondisi == "Baru" %}selected{% endif %}>
        Baru
      </option>
      <option value="Bekas" {% if part.kondisi == "Bekas" %}selected{% endif %}>
        Bekas
      </option>
    </select>
  </div>

  <div class="mb-3">
  <label for="foto_part" class="form-label">Foto Part:</label>
  <input
    type="file"
    id="foto_part"
    name="foto_part"
    accept="image/*"
    class="form-control"
  />
</div>

{% if part.foto_part %}
  <p>Foto saat ini:</p>
  <img src="/{{ part.foto_part }}" alt="Foto Part" width="150" />
{% endif %}


  <button type="submit" class="btn btn-primary">Simpan</button>
  <a href="{% url 'get_all_part' %}" class="btn btn-secondary">Batal</a>
</form>
{% endblock %}
